{
    "presets": [
        [
            "env",
            {
                "modules": "commonjs",
                "useBuiltIns": true,
                "targets": {
                    "browsers": [
                        "last 2 Chrome versions"
                    ]
                }
            }
        ],
        [
            "preact"
        ]
    ]
}
