/* since using a custom class here, this needs to be assigned to the JS component */

.header {
    figure {
        float: left;
        width: 51px;
        height: 44px;
        background: url('/web/assets/images/logo-ltp-rgb.svg');
        border: 0;
    }
}
